* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A808C;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #065E7C;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secundary: 'Roboto Mono' sans-serif;
  --text-color: #E1E1E6;
  --primary-color: hsl(var(--hue), 100%, 63%)
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #2F2F33;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header .logo {
  width: 15rem; 
}

.search {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.search input {
  background-color: hsla(191, 65%, 7%, 1);
  color: hsla(240, 6%, 51%, 1);
  font-size: 1.4rem;
  width: 46rem;

  height: 4.8rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem  3.2rem;

}

.search button {
  display: flex;
  color: hsla(0, 0%, 100%, 1);
  font-size: var(--ff-primary);

  text-transform: uppercase;

  align-items: center;
  background-color: #065E7C;
  border-radius: .5rem;
  height: 4.8rem;
  border: none;
  padding: 1.2rem  3.2rem;
  cursor: pointer;
  gap: .8rem;
}

.search button:hover {
  background: hsla(0, 0%, 100%, 1);
  color: hsla(195, 91%, 25%, 1);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: 400px;
  gap: 6rem;
}

.empty h1 {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px;
  color: #4E5455;

}

.table{
  border-radius: 1.2rem;
  border: 1px solid hsla(191, 31%, 42%, 1);
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 600px;
  position: relative;

}

table {
  width: 100%;
  border-collapse: collapse;

}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

table th {
  background: hsla(194, 72%, 13%, 1);
  text-align: left;
  font-weight: normal;
  padding: 1.6rem 4rem;
  position: sticky;
  top: 0;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
  
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr:nth-child(even) {
 background: hsla(192, 65%, 7%, 1)
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

table tr:not(:last-child){
  border-bottom: 1px solid hsla(191, 31%, 42%, 1);
}
table tr:last-child{
  border-radius:  0 0 1.2rem 1.2rem;

}

table td {
  padding: 2.8rem 4rem;
  text-align: left;
  
}


td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: rgb(177, 80, 88);

  cursor: pointer;
}